html{
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(4, 4, 59);
    background-image: 
    radial-gradient(450px at 30% 60%,rgba(21, 21, 87, 0.671), rgba(18, 39, 58, 0.664), rgba(1, 47, 58, 0.603)),
    radial-gradient(450px at 80% 30%,rgba(41, 41, 97, 0.295), rgba(50, 91, 131, 0.411), rgba(7, 13, 104, 0.5)),
    radial-gradient(450px at 80% 90%,rgba(58, 58, 90, 0.5), rgba(119, 150, 180, 0.336), rgba(80, 77, 109, 0.445)),
    radial-gradient(550px at 30% 10%,rgba(34, 7, 49, 0.87), rgba(147, 64, 155, 0.596), rgba(51, 34, 78, 0.774));
    background-repeat: repeat;
    height: auto;
    width: auto;
}

#button1 {
    font-size: 40px;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    cursor: pointer;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    margin: auto;
    padding: 2%;
    border-style: solid;
    border-color: rgba(185, 205, 207, 0.5);
    border-radius: 25px;
    font-family: Verdana;
}

h1 {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}


h2 {
    color: aliceblue;
    font-size: 32px;
}

a {
    color: aliceblue;
    font-size: 20px;
}

p {
    color: aliceblue;
}