<!DOCTYPE html>
<html>
    <head>
        <title>
            Eleazar
        </title>
        <link rel="stylesheet" href="../CSS/style.css">
    </head>

    <body>
        <div id="info">
            <h1>
                Eleazar
            </h1>

            <h2>Info</h2>
            <p style="font-size: 20px">This is where I will mostly keep track of my #100DaysOfCode challenge 
                as well as a place to show off other projects in the future</p>
        </div>

        <div id="links">
            <h2>Links</h2>
                <p>
                    <a href="https://github.com/earico">GitHub</a>
                    <a href="https://twitter.com/earicojr">Twitter</a>
                    <a href="https://www.linkedin.com/in/eleazar-rico-42bb96159/">LinkedIn</a>
                </p>
        </div>

        <div id="contact">
            <h2>Contact</h2>

            <p>Email: </p>
        </div>
    </body>
</html>