<!DOCTYPE html>
<html>
    <head>
        <title>
            My Portfolio
        </title>
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <div class="backdrop">
            <h1 class="typing">
                Eleazar
            </h1>

            <h2>About Me</h2>
            <p style="font-size: 24px">Hello, my name is Eleazar and I am a CS Student who enjoys coding from time
                                        to time. Some of the things that I have worked on include my own Linux machine, 
                                        dabbling a bit with Discord bots, to even coding scripts in Lua to be used in
                                        video games such as Minecraft's ComputerCraft mod or even Roblox Lua Scripting. 
                                        I enjoy playing video games and would like to one day create my own as it's one 
                                        of the things I've been passionate about since I was a child. I also enjoy 
                                        drawing in my free time and if you head over to my art tab, you'll see some of 
                                        the things I've created. </p>
        </div>

        <div class="backdrop">
            <h2>Links</h2>
                <p>
                    <a href="https://github.com/earico">GitHub</a>
                    <a href="https://twitter.com/earicojr">Twitter</a>
                    <a href="https://www.linkedin.com/in/eleazar-rico-42bb96159/">LinkedIn</a>
                </p>
        </div>

        <div class="backdrop">
            <h2>Contact</h2>

            <p>Email: earicojr@gmail.com</p>
            <p>I try to get back to you as soon as possible but allow me
                a reasonable amount of time to get back to you. Thank you.
            </p>
        </div>

        <button id="button1" onclick="document.getElementById('mario').style.opacity='1'">
            🎉
        </button>
        <div id="marDiv">
            <img id="mario" src="/src/mariodance.gif" width="100" height="100" style="opacity: 0">
        </div>
    </body>
</html>